<% include nav %>
<div class = "col-sm-8 col-md-offset-1 col-md-10">
  <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">좌측 배너</h3>
          </div>
          <div class="panel-body">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 자동반응형 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6272041920940171"
                 data-ad-slot="4581636554"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class = "row">
