<!DOCTYPE html>
<html>
 <head>
  <% include partials/head %>
 </head>
 <body>
  <% include partials/header %>
   <div class="jumbotron">
    <div class="container">
     <h1>Node JS - 게시판</h1>
    </div>
   </div>
   <div class = "col-md-6">
    왼쪽판넬
   </div>
   <div class = "col-md-6">
    오른쪽판넬
   </div>
  </div>
 <% include partials/footer %>